@page "/authentication"
@using ResumeBlazorWASMApp.Services
@inject SupabaseService SupabaseService
@inject Authentication Auth
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@using MudBlazor


<h3>Authentication</h3>
<button @onclick="FetchData">Fetch Data</button>
<p>@data</p>
<button @onclick="ShowMessage">Show Snackbar</button>
<MudButton OnClick="@(() => Snackbar.Add("Test Snackbar", Severity.Info))">Test Snackbar</MudButton>


<MudContainer class="d-flex justify-content-center align-content-center">
    <MudPaper Elevation="5" class="pa-10" style="text-align: center">
        <br/>
        <MudTextField Label="Email" @bind-Value="Email"></MudTextField>
        
    </MudPaper>
    
</MudContainer>

<MudContainer class="d-flex justify-content-center align-content-center"></MudContainer>
@code {
    private string data;
    private string Email { get; set; }

    private async Task FetchData()
    {
        data = await SupabaseService.GetDataAsync();
    }

    private void ShowMessage()
    {
        Console.WriteLine(Snackbar);
        Console.WriteLine("snackbar message");
        Snackbar.Add("This is a snackbar message!", Severity.Info);
    }
}