@page "/resume"
@using UglyToad.PdfPig
@using UglyToad.PdfPig.Content
@inject HttpClient Http

<h3>DisplayResume</h3>

<p>@resumeText</p>

@code {
    private string resumeText;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            resumeText = await Http.GetStringAsync("api/pdf/resume");
        }
        catch (Exception e)
        {

            resumeText = e.Message;
        }
    }

}
