@page "/upload-pdf"
@using UglyToad.PdfPig
@using UglyToad.PdfPig.Content
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http

<h3>Upload PDF</h3>
<button @onclick="ReadPdf">Read PDF</button>
@* <button @onclick="UploadPdf">Upload PDF</button> *@


<p>@_pdfText</p>

@code {
    private string? _pdfText;
    
    // private async Task LoadFile(InputFileChangeEventArgs e)
    // {
    //     IBrowserFile file = e.File; //getting file
    //     byte[] buffer = new byte[file.Size];
    //     await file.OpenReadStream().ReadAsync(buffer);
    //     _pdfText = await ReadPdfText(buffer);
    // }

    // private async Task<string> ReadPdfText(byte[] pdfData)
    // {
    //     try
    //     {
    //         using (MemoryStream stream = new MemoryStream(pdfData))
    //         {
    //             using (PdfDocument document = PdfDocument.Open(stream))
    //             {
    //                 string pageText = string.Empty;
    //                 foreach (Page page in document.GetPages())
    //                 {
    //                     pageText += page.Text.ToLower();
    //                 }
    //
    //                 return pageText;
    //             }
    //         }
    //     }
    //     catch (Exception e)
    //     {
    //         return $"{e.Message}";
    //     }
    // }

    private async Task ReadPdf()
    {
        var response = await Http.GetAsync("Data/FakeResume.pdf");

        if (response.IsSuccessStatusCode)
        {
            var stream = await response.Content.ReadAsStreamAsync();
            var document = PdfDocument.Open(stream);
            
            foreach (Page page in document.GetPages())
            {
                _pdfText += page.Text.ToLower();
            }
            
        }
        else
        {
            _pdfText = "Error reading PDF document";
        }
        
        
    }

}